<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../../../_layouts/15/MettingManegmentNew/js/MettingTab2.js"></script>
</head>
<body>

    <!--<div class="row">
    
            <div id="GRDAllUsersInternal" ></div>
       
    </div>

    <div class="row">

        <div id="GRDAllUsersOrderUser"></div>

    </div>
    <div class="row">

        <div id="GRDAllGetInFormedUser"></div>

    </div>-->
    <div class="k-lable-compelet">

        
        <div class="header-panel  k-margin-top">
            
            <h3>
                <a href="#" onclick="ShowAndHide('panelgetinUsersInternal'); return false" style="color:black !important;text-decoration:none;">
                    افراد درون سازمانی
                </a>
            </h3>
        </div>
        <div id="panelgetinUsersInternal" class="content-panel" style="display: none;">
            <div class="k-lable-compelet k-margin-top " style="height:20px;background-color:blue" >
                <div id="cmbAllUsersInternal" style="direction:rtl;"></div>
               
                </div>

                <div>
                    <div id="GRDUsersInternal"></div>
                </div>
                <div class="k-lable-compelet k-margin-top">
                    <div id="gauge" style="padding:0px;background-color:white"></div>
                </div>



            </div>


        <div class="header-panel  k-margin-top">

            <h3>
                <a href="#" onclick="ShowAndHide('panelgetinUsersOrderUser'); return false" style="color:black !important;text-decoration:none;">
                    افراد برون سازمانی
                </a>
            </h3>
        </div>
        <div id="panelgetinUsersOrderUser" class="content-panel" style="display: none;">
            <div class="k-lable-compelet k-margin-top " style="height:20px;background-color:blue">
             
                <div id="cmbAddUsersOrderUser" style="direction:rtl;"></div>
            </div>

            <div>
                <div id="GRDAllUsersOrderUser"></div>
            </div>
            <div class="k-lable-compelet k-margin-top">
                <div id="gauge" style="padding:0px;background-color:white"></div>
            </div>



        </div>


        <div class="header-panel  k-margin-top">

            <h3>
                <a href="#" onclick="ShowAndHide('panelgetinGetInFormedUser'); return false" style="color:black !important;text-decoration:none;">
                    افراد  مطلعین
                </a>
            </h3>
        </div>
        <div id="panelgetinGetInFormedUser" class="content-panel" style="display: none;">
            <div class="k-lable-compelet k-margin-top " style="height:20px;background-color:blue">

                <div id="cmbAddGetInFormedUser" style="direction:rtl;"></div>
            </div>

            <div>
                <div id="GRDGetInFormedUser"></div>
            </div>
            <div class="k-lable-compelet k-margin-top">
                <div id="gauge" style="padding:0px;background-color:white"></div>
            </div>



        </div>


    </div>
</body>
</html>